 *{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0a0a0f;
color:white;

}


/* NAVBAR */

.navbar{

position:fixed;
top:0;
width:100%;
padding:20px 80px;

display:flex;
justify-content:space-between;
align-items:center;

background:black;

}

.nav-menu{

display:flex;
gap:30px;
list-style:none;

}

.nav-link{

color:#aaa;
text-decoration:none;

}

.nav-link:hover{

color:#00bfff;

}

.resume-btn{

background:#ff6600;
padding:8px 20px;
border-radius:6px;
color:white;
text-decoration:none;

}


/* HERO */

.hero{

min-height:100vh;

display:flex;
align-items:center;

padding:0 80px;

}

.hero h1{

font-size:60px;

}

.hero h2{

margin-top:10px;
color:#aaa;

}

.hero p{

margin-top:20px;
max-width:600px;

}

.hero-buttons{

margin-top:30px;
display:flex;
gap:20px;

}

.btn{

padding:12px 26px;
border-radius:6px;
text-decoration:none;

}

.primary{

background:#ff6600;
color:white;

}

.secondary{

border:1px solid #555;
color:white;

}


/* SECTIONS */

section{

padding:120px 80px;

opacity:0;
transform:translateY(40px);

}

section.show{

opacity:1;
transform:translateY(0);
transition:0.8s;

}


/* PROJECTS */

.projects-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}

.card{

background:#1a1a1a;
padding: 18px;
border-radius:10px;
max-width: 350px;
}

.card:hover{

transform:translateY(-6px);

}

.project-image{

width:100%;
border-radius:10px;
margin-bottom:15px;

}


/* SKILLS */

.skills-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:15px;

}

.skill-box{

background:#151515;
padding:12px;
text-align:center;
border-radius:6px;

}

.skill-box:hover{

border:1px solid #00bfff;

}


/* TYPING */

.typing::after{

content:"|";
animation:blink 1s infinite;

}

@keyframes blink{

0%{opacity:1}
50%{opacity:0}
100%{opacity:1}

}
.popup{

display:none;
position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.9);

justify-content:center;
align-items:center;

z-index:999;

}

.popup img{

max-width:90%;
max-height:90%;
border-radius:10px;

}

.close{

position:absolute;
top:30px;
right:40px;

font-size:40px;
color:white;
cursor:pointer;

}
